node_modules/
dist/
build/
.env
*.log
*.tmp
*.cache
.DS_Store
.vscode/
.idea/
__pycache__
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib
coverage/
*.coverage
*.egg-info/
*.swp
*.swo
npm-debug.log
yarn-debug.log
yarn-error.log
*/TOKEN*
.pytest_cache
backup
*.db